.filters {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    font-size: 14px;
}

.filters [type="radio"]:checked,
.filters [type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}

.filters label {
    margin: 0 6px;
    padding: 4px 8px;
    font-size: 14px;
    font-weight: bold;
    border: 1px solid grey;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s all ease-in;
}

.filters [type="radio"]:not(:checked)+label {
    color: #3A98B9;
    background: #FFF1DC;
}

.filters [type="radio"]:checked+label {
    background: #3A98B9;
    color: #FFF1DC;
}