* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    background-color: #EEEEEE;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: url('assets/images/background.png');
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0 0 1em;
    padding: 0;
}

a:hover {
    text-decoration: none;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px;
    text-align: center;
    font-size: 10px;
    background-color: #EEEEEE;
    border-top: 1px solid #9F9F9F;
}